@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.fjv-form {
	@import "tailwindcss/components";
	@import "tailwindcss/utilities";
}

/*! purgecss start ignore */
body {
	font-family: "Roboto", sans-serif;
}
/*! purgecss end ignore */

.fjv-form {
	/*! purgecss start ignore */
	@import "../src/bindings/form/styles.scss";
	&.light,
	:root {
		background-color: theme("colors.gray.100");
		color: theme("colors.gray.800");
		--color-primary: theme("colors.gray.800");
		--color-error: theme("colors.red.700");
		--color-success: theme("colors.teal.800");
		--border-width: 2px;
		--inputText-fontSize: 16px;
	}
	&.dark {
		$color: theme("colors.gray.300");

		background-color: theme("colors.gray.900");
		color: $color;
		--color-primary: $color;
		--color-error: theme("colors.red.500");
		--color-success: theme("colors.teal.300");
		--border-width: 1px;
	}
	/*! purgecss end ignore */
}
