/*! purgecss start ignore */
@import "tailwindcss/base";
@import "./normalize.scss";
/*! purgecss end ignore */

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../src/components/styles.scss";
