/*! purgecss start ignore */
@import "tailwindcss/base";
/*! purgecss end ignore */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.fjv-form {
	@import "tailwindcss/components";
	@import "tailwindcss/utilities";
}

/*! purgecss start ignore */
.fjv-form {
	font-family: "Roboto", sans-serif;
	@import "../src/bindings/form/styles.scss";

	color: theme("colors.gray.800");
	--color-primary: theme("colors.gray.800");
	--color-error: theme("colors.red.700");
	--color-success: theme("colors.teal.800");
	--border-width: 2px;

	&.dark {
		$color: theme("colors.gray.300");
		color: $color;
		--color-primary: $color;
		--color-error: theme("colors.red.500");
		--color-success: theme("colors.teal.300");
		--border-width: 1px;
	}
}
/*! purgecss end ignore */
