.fjv-checkbox {
	display: inline-block;
	cursor: pointer;

	> input {
		position: absolute;
		opacity: 0;
		pointer-events: none;

		&:checked ~ .mark::after {
			border-color: #707070;
			color: #707070;
		}
		&:focus ~ .mark::after {
			box-shadow: 0px 0px 5px #707070;
		}
	}
	&.success > input {
		&:checked ~ .mark::after {
			color: teal;
		}
		& ~ .mark::after {
			border-color: teal;
		}
		&:focus ~ .mark::after {
			box-shadow: 0px 0px 5px teal;
		}
	}
	&.error > input {
		& ~ .mark::after {
			@apply border-red-700;
		}
		&:focus ~ .mark::after {
			box-shadow: 0px 0px 5px red;
		}
	}
	> .mark::after {
		display: flex;
		justify-content: center;
		align-items: center;
		content: "✓";
		border-radius: 5px;
		font-weight: 900;
		font-size: 12px;
		color: transparent;
		width: 20px;
		height: 20px;
		border: 2px solid #707070;
		transition: color 0.1s ease-out, border 0.3s ease-out;
	}
	&.radio {
		> .mark::after {
			content: "•";
			font-size: 17px;
			border-radius: 100%;
		}
	}
}
