.fjv-input {
	.checkbox {
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
		&:checked {
			& ~ .mark {
				> .content {
					transform: scale(0.9, 0.9);
				}
			}
		}
		&:focus {
			& ~ .mark {
			}
		}
		& ~ .mark {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			border-width: 2px;
			border-color: theme("colors.primary");
			width: 20px;
			height: 20px;
			& > .content {
				transform: scale(0, 0);
				color: theme("colors.primary");
				transition: 0.3s transform;
			}
		}
	}
	.radio {
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
		&:checked {
			& ~ .mark > .content {
				transform: scale(1, 1);
			}
		}
		&:focus {
			& ~ .mark {
			}
		}
		& ~ .mark {
			border-radius: 50%;
			border-width: 2px;
			border-color: theme("colors.primary");
			padding: 3px;
			& > .content {
				border-radius: 50%;
				background-color: theme("colors.primary");
				padding: 4px;
				transform: scale(0, 0);
				transition: 0.3s transform;
			}
		}
	}
	&.success {
		.radio:checked {
			& ~ .mark {
				border-color: theme("colors.success");
				& > .content {
					background-color: theme("colors.success");
				}
			}
		}
		.checkbox {
			& ~ .mark {
				border-color: theme("colors.success");
				& > .content {
					color: theme("colors.success");
				}
			}
		}
	}
	&.error {
		.radio {
			& ~ .mark {
				border-color: theme("colors.error");
				& > .content {
					background-color: theme("colors.error");
				}
			}
		}
		.checkbox {
			& ~ .mark {
				border-color: theme("colors.error");
				& > .content {
					color: theme("colors.error");
				}
			}
		}
	}
}
