@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*! purgecss start ignore */
@tailwind base;
.fjv-form {
	@import "./components/styles.scss";
	font-family: "Roboto", sans-serif;

	color: theme("colors.gray.800");
	--color-primary: theme("colors.gray.800");
	--color-error: theme("colors.red.700");
	--color-success: theme("colors.teal.800");
	--border-width: 2px;
	--input-background: rgba(0, 0, 0, 0.05);

	&.dark {
		$color: theme("colors.gray.300");
		color: $color;
		--color-primary: $color;
		--color-error: theme("colors.red.500");
		--color-success: theme("colors.teal.300");
		--border-width: 1px;
		--input-background: #535353;
	}

	/* RESET STYLE FOR AUTO COMPLETE */
	@-webkit-keyframes autofill {
		0%,
		100% {
			color: inherit;
			background: transparent;
		}
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-animation-delay: 0.1s; /* Safari support - any positive time runs instantly */
		-webkit-animation-name: autofill;
		-webkit-animation-fill-mode: both;
	}
}
/*! purgecss end ignore */

.fjv-form {
	@tailwind components;
	@tailwind utilities;
}
